WORKER_PORT=3099
WORKER_API_KEY=replace-me
WORKER_SESSION_TIMEOUT_MS=600000
WORKER_MAX_SESSIONS=5
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser
CLOUDFLARED_BIN=cloudflared
# CONDUCTOR_ALLOW_UNSAFE_PREVIEW_HOSTS=true
